footer,header,main,nav,section
{
	display: block;
}

html
{
	font-family: sans-serif;
	ms-text-size-adjust: 100%;
	webkit-text-size-adjust: 100%;
}
body
{
	margin: 0;
}
a:focus
{
	outline: thin dotted;
}
a:active,a:hover
{
	outline: 0;
}
h1
{
	font-size: 2em;
	margin: .67em 0;
}

b,strong
{
	font-weight: bold;
}
dfn
{
	font-style: italic;
}
hr
{
	box-sizing: content-box;
	height: 0;
	moz-box-sizing: content-box;
}
mark
{
	background: #ff0;
	color: #000;
}
code,kbd,pre,samp
{
	font-family: monospace,serif;
	font-size: 1em;
}
pre
{
	white-space: pre-wrap;
}
q
{
	quotes: "\201C" "\201D" "\2018" "\2019";
}
small
{
	font-size: 80%;
}
sub,sup
{
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup
{
	top: -0.5em;
}
sub
{
	bottom: -0.25em;
}
img
{
	border: 0;
}

figure
{
	margin: 0;
}
fieldset
{
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: .35em .625em .75em;
}
legend
{
	border: 0;
	padding: 0;
}
button,input,select,textarea
{
	font-family: inherit;
	font-size: 100%;
	margin: 0;
}
button,input
{
	line-height: normal;
}
button,select
{
	text-transform: none;
}
button
{
	cursor: pointer;
	webkit-appearance: button;
}

button::-moz-focus-inner,input::-moz-focus-inner
{
	border: 0;
	padding: 0;
}
textarea
{
	overflow: auto;
	vertical-align: top;
}
table
{
	border-collapse: collapse;
	border-spacing: 0;
}
@media print
{
	*
	{
		background: transparent!important;
		box-shadow: none!important;
		color: #000!important;
		text-shadow: none!important;
	}
	a,a:visited
	{
		text-decoration: underline;
	}
	a[href]:after
	{
		content: " (" attr(href) ")";
	}
	
	a[href^="#"]:after
	{
		content: "";
	}
	pre,blockquote
	{
		border: 1px solid #999;
		page-break-inside: avoid;
	}
	thead
	{
		display: table-header-group;
	}
	tr,img
	{
		page-break-inside: avoid;
	}
	img
	{
		max-width: 100%!important;
	}
	@page
	{
		margin: 2cm .5cm;
	}
	p,h2,h3
	{
		orphans: 3;
		widows: 3;
	}
	h2,h3
	{
		page-break-after: avoid;
	}
	.navbar
	{
		display: none;
	}
	
	
}
*,*:before,*:after
{
	box-sizing: border-box;
	moz-box-sizing: border-box;
	webkit-box-sizing: border-box;
}
html
{
	font-size: 62.5%;
	webkit-tap-highlight-color: rgba(0,0,0,0);
}
body
{
	background-color: #fff;
	color: #333;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 1.428571429;
}
input,button,select,textarea
{
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}
button,input,textarea
{
	background-image: none;
}
a
{
	color: #428bca;
	text-decoration: none;
}
a:hover,a:focus
{
	color: #2a6496;
	text-decoration: underline;
}
a:focus
{
	outline: 5px auto -webkit-focus-ring-color;
	outline: thin dotted #333;
	outline-offset: -2px;
}
img
{
	vertical-align: middle;
}

hr
{
	border: 0;
	border-top: 1px solid #eee;
	margin-bottom: 20px;
	margin-top: 20px;
}
.sr-only
{
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
p
{
	margin: 0 0 10px;
}

@media(min-width:768px)
{
	
}
small
{
	font-size: 85%;
}
cite
{
	font-style: normal;
}

.text-center
{
	text-align: center;
}
h1,h2,h3,h4,h5,h6
{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 500;
	line-height: 1.1;
}

h1,h2,h3
{
	margin-bottom: 10px;
	margin-top: 20px;
}
h4,h5,h6
{
	margin-bottom: 10px;
	margin-top: 10px;
}
h1,
{
	font-size: 36px;
}
h2,
{
	font-size: 30px;
}
h3,
{
	font-size: 24px;
}
h4,
{
	font-size: 18px;
}
h5,
{
	font-size: 14px;
}
h6,
{
	font-size: 12px;
}

ul,ol
{
	margin-bottom: 10px;
	margin-top: 0;
}


.list-inline
{
	list-style: none;
	padding-left: 0;
}
.list-inline>li
{
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
}
dl
{
	margin-bottom: 20px;
}
dt,dd
{
	line-height: 1.428571429;
}
dt
{
	font-weight: bold;
}
dd
{
	margin-left: 0;
}

blockquote
{
	padding: 10px 20px;
}

q:before,q:after,blockquote:before,blockquote:after
{
	content: "";
}
address
{
	display: block;
	font-style: normal;
	line-height: 1.428571429;
	margin-bottom: 20px;
}
code,pre
{
	font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
}
code
{
	background-color: #f9f2f4;
	border-radius: 4px;
	color: #c7254e;
	font-size: 90%;
	padding: 2px 4px;
	white-space: nowrap;
}
pre
{
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	border-radius: 4px;
	color: #333;
	display: block;
	font-size: 13px;
	line-height: 1.428571429;
	margin: 0 0 10px;
	padding: 9.5px;
	word-break: break-all;
	word-wrap: break-word;
}

.container
{
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}
.container:before,.container:after
{
	content: " ";
	display: table;
}
.container:after
{
	clear: both;
}
.container:before,.container:after
{
	content: " ";
	display: table;
}
.container:after
{
	clear: both;
}
.row
{
	margin-left: -15px;
	margin-right: -15px;
}
.row:before,.row:after
{
	content: " ";
	display: table;
}
.row:after
{
	clear: both;
}
.row:before,.row:after
{
	content: " ";
	display: table;
}
.row:after
{
	clear: both;
}
.col-sm-3,.col-sm-4,.col-md-4,.col-md-10
{
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
}


@media(min-width:768px)
{
	.container
	{
		max-width: 750px;
	}
	.col-sm-3,.col-sm-4
	{
		float: left;
	}
	.col-sm-3
	{
		width: 25%;
	}
	.col-sm-4
	{
		width: 33.33333333333333%;
	}
}
@media(min-width:992px)
{
	.container
	{
		max-width: 970px;
	}
	.col-md-4,.col-md-10
	{
		float: left;
	}
	
	
	.col-md-4
	{
		width: 33.33333333333333%;
	}
	.col-md-10
	{
		width: 83.33333333333334%;
	}
	.col-md-offset-1
	{
		margin-left: 8.333333333333332%;
	}
}
@media(min-width:1200px)
{
	.container
	{
		max-width: 1170px;
	}
}
table
{
	background-color: transparent;
	max-width: 100%;
}
th
{
	text-align: left;
}

fieldset
{
	border: 0;
	margin: 0;
	padding: 0;
}
legend
{
	border: 0;
	border-bottom: 1px solid #e5e5e5;
	color: #333;
	display: block;
	font-size: 21px;
	line-height: inherit;
	margin-bottom: 20px;
	padding: 0;
	width: 100%;
}
label
{
	display: inline-block;
	font-weight: bold;
	margin-bottom: 5px;
}

.form-control:-moz-placeholder
{
	color: #999;
}
.form-control::-moz-placeholder
{
	color: #999;
}

.form-control
{
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	color: #555;
	display: block;
	font-size: 14px;
	height: 34px;
	line-height: 1.428571429;
	padding: 6px 12px;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	vertical-align: middle;
	webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	width: 100%;
}
.form-control:focus
{
	border-color: #66afe9;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
	outline: 0;
	webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
}

textarea.form-control
{
	height: auto;
}
.form-group
{
	margin-bottom: 15px;
}

@media(min-width:768px)
{
	.form-inline .form-group
	{
		display: inline-block;
		margin-bottom: 0;
		vertical-align: middle;
	}
	.form-inline .form-control
	{
		display: inline-block;
	}
}

.form-horizontal .form-group
{
	margin-left: -15px;
	margin-right: -15px;
}
.form-horizontal .form-group:before,.form-horizontal .form-group:after
{
	content: " ";
	display: table;
}
.form-horizontal .form-group:after
{
	clear: both;
}
.form-horizontal .form-group:before,.form-horizontal .form-group:after
{
	content: " ";
	display: table;
}
.form-horizontal .form-group:after
{
	clear: both;
}

.btn
{
	border: 1px solid transparent;
	border-radius: 4px;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.428571429;
	margin-bottom: 0;
	moz-user-select: none;
	ms-user-select: none;
	o-user-select: none;
	padding: 6px 12px;
	text-align: center;
	user-select: none;
	vertical-align: middle;
	webkit-user-select: none;
	white-space: nowrap;
}
.btn:focus
{
	outline: 5px auto -webkit-focus-ring-color;
	outline: thin dotted #333;
	outline-offset: -2px;
}
.btn:hover,.btn:focus
{
	color: #333;
	text-decoration: none;
}
.btn:active
{
	background-image: none;
	box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
	outline: 0;
	webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
}

.btn-default
{
	background-color: #fff;
	border-color: #ccc;
	color: #333;
}
.btn-default:hover,.btn-default:focus,.btn-default:active,.open .dropdown-toggle.btn-default
{
	background-color: #ebebeb;
	border-color: #adadad;
	color: #333;
}
.btn-default:active
{
	background-image: none;
}

.collapse
{
	display: none;
}
.nav
{
	list-style: none;
	margin-bottom: 0;
	padding-left: 0;
}
.nav:before,.nav:after
{
	content: " ";
	display: table;
}
.nav:after
{
	clear: both;
}
.nav:before,.nav:after
{
	content: " ";
	display: table;
}
.nav:after
{
	clear: both;
}
.nav>li
{
	display: block;
	position: relative;
}
.nav>li>a
{
	display: block;
	padding: 10px 15px;
	position: relative;
}
.nav>li>a:hover,.nav>li>a:focus
{
	background-color: #eee;
	text-decoration: none;
}

.navbar
{
	border: 1px solid transparent;
	margin-bottom: 20px;
	min-height: 50px;
	position: relative;
	z-index: 1000;
}
.navbar:before,.navbar:after
{
	content: " ";
	display: table;
}
.navbar:after
{
	clear: both;
}
.navbar:before,.navbar:after
{
	content: " ";
	display: table;
}
.navbar:after
{
	clear: both;
}
@media(min-width:768px)
{
	.navbar
	{
		border-radius: 4px;
	}
}
.navbar-header:before,.navbar-header:after
{
	content: " ";
	display: table;
}
.navbar-header:after
{
	clear: both;
}
.navbar-header:before,.navbar-header:after
{
	content: " ";
	display: table;
}
.navbar-header:after
{
	clear: both;
}
@media(min-width:768px)
{
	.navbar-header
	{
		float: left;
	}
}
.navbar-collapse
{
	border-top: 1px solid transparent;
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	max-height: 340px;
	overflow-x: visible;
	padding-left: 15px;
	padding-right: 15px;
	webkit-overflow-scrolling: touch;
}
.navbar-collapse:before,.navbar-collapse:after
{
	content: " ";
	display: table;
}
.navbar-collapse:after
{
	clear: both;
}
.navbar-collapse:before,.navbar-collapse:after
{
	content: " ";
	display: table;
}
.navbar-collapse:after
{
	clear: both;
}

@media(min-width:768px)
{
	.navbar-collapse
	{
		border-top: 0;
		box-shadow: none;
		width: auto;
	}
	.navbar-collapse.collapse
	{
		display: block!important;
		height: auto!important;
		overflow: visible!important;
		padding-bottom: 0;
	}
	
	.navbar-fixed-top
	{
		border-width: 0 0 1px;
		left: 0;
		position: fixed;
		right: 0;
	}
	@media(min-width:768px)
	{
		.navbar-fixed-top
		{
			border-radius: 0;
		}
	}
	.navbar-fixed-top
	{
		top: 0;
		z-index: 1030;
	}
	
	.navbar-b
	{
		float: left;
		font-size: 18px;
		line-height: 20px;
		padding: 15px 15px;
	}
	.navbar-b:hover,.navbar-b:focus
	{
		text-decoration: none;
	}
	
	.navbar-nav
	{
		margin: 7.5px -15px;
	}
	.navbar-nav>li>a
	{
		line-height: 20px;
		padding-bottom: 10px;
		padding-top: 10px;
	}
	@media(min-width:768px)
	{
		.navbar-nav
		{
			float: left;
			margin: 0;
		}
		.navbar-nav>li
		{
			float: left;
		}
		.navbar-nav>li>a
		{
			padding-bottom: 15px;
			padding-top: 15px;
		}
		
		ul.thumbnails>li.thumbnail .image
		{
			right: 15%;
		}
	}
	.navbar-m
	{
		background-color: #f8f8f8;
		border-color: #e7e7e7;
	}
	.navbar-m .navbar-b
	{
		color: #777;
	}
	.navbar-m .navbar-b:focus
	{
		background-color: transparent;
		color: #5e5e5e;
	}
	
	.navbar-m .navbar-nav>li>a
	{
		color: #777;
	}
	.navbar-m .navbar-nav>li>a:hover,.navbar-m .navbar-nav>li>a:focus
	{
		background-color: transparent;
		color: #333;
	}
	
	.navbar-m .navbar-collapse
	{
		border-color: #e6e6e6;
	}
	
	
	.thumbnail
	{
		background-color: #fff;
		border: 1px solid #ddd;
		border-radius: 4px;
		display: block;
		display: inline-block;
		height: auto;
		line-height: 1.428571429;
		max-width: 100%;
		padding: 4px;
		transition: all .2s ease-in-out;
		webkit-transition: all .2s ease-in-out;
	}
	
	.banner
	{
		position: relative;
	}
	.banner-inner
	{
		overflow: hidden;
		position: relative;
		width: 100%;
	}
	.banner-inner>.item
	{
		display: none;
		position: relative;
		transition: .6s ease-in-out left;
		webkit-transition: .6s ease-in-out left;
	}
	.banner-inner>.item>img
	{
		display: block;
		height: auto;
		line-height: 1;
		max-width: 100%;
	}
	.banner-inner>.active
	{
		display: block;
	}
	.banner-inner>.active
	{
		left: 0;
	}
	
	.banner-caption
	{
		bottom: 20px;
		color: #fff;
		left: 15%;
		padding-bottom: 20px;
		padding-top: 20px;
		position: absolute;
		right: 15%;
		text-align: center;
		text-shadow: 0 1px 2px rgba(0,0,0,0.6);
		z-index: 10;
	}
	
	.clearfix:before,.clearfix:after
	{
		content: " ";
		display: table;
	}
	.clearfix:after
	{
		clear: both;
	}
	
	@charset "UTF-8";
	
	
	
	@-webkit-keyframes anim-zoom
	{
		0%
		{
			bottom: auto;
			moz-transform: scale(.5,.5);
			ms-transform: scale(.5,.5);
			opacity: 0;
			o-transform: scale(.5,.5);
			transform: scale(.5,.5);
			webkit-transform: scale(.5,.5);
		}
		100%
		{
			bottom: auto;
			moz-transform: scale(1,1);
			ms-transform: scale(1,1);
			opacity: 1;
			o-transform: scale(1,1);
			transform: scale(1,1);
			webkit-transform: scale(1,1);
		}
	}
	@-moz-keyframes anim-zoom
	{
		0%
		{
			bottom: auto;
			moz-transform: scale(.5,.5);
			ms-transform: scale(.5,.5);
			opacity: 0;
			o-transform: scale(.5,.5);
			transform: scale(.5,.5);
			webkit-transform: scale(.5,.5);
		}
		100%
		{
			bottom: auto;
			moz-transform: scale(1,1);
			ms-transform: scale(1,1);
			opacity: 1;
			o-transform: scale(1,1);
			transform: scale(1,1);
			webkit-transform: scale(1,1);
		}
	}
	@-ms-keyframes anim-zoom
	{
		0%
		{
			bottom: auto;
			moz-transform: scale(.5,.5);
			ms-transform: scale(.5,.5);
			opacity: 0;
			o-transform: scale(.5,.5);
			transform: scale(.5,.5);
			webkit-transform: scale(.5,.5);
		}
		100%
		{
			bottom: auto;
			moz-transform: scale(1,1);
			ms-transform: scale(1,1);
			opacity: 1;
			o-transform: scale(1,1);
			transform: scale(1,1);
			webkit-transform: scale(1,1);
		}
	}
	@-o-keyframes anim-zoom
	{
		0%
		{
			bottom: auto;
			moz-transform: scale(.5,.5);
			ms-transform: scale(.5,.5);
			opacity: 0;
			o-transform: scale(.5,.5);
			transform: scale(.5,.5);
			webkit-transform: scale(.5,.5);
		}
		100%
		{
			bottom: auto;
			moz-transform: scale(1,1);
			ms-transform: scale(1,1);
			opacity: 1;
			o-transform: scale(1,1);
			transform: scale(1,1);
			webkit-transform: scale(1,1);
		}
	}
	@keyframes anim-zoom
	{
		0%
		{
			bottom: auto;
			moz-transform: scale(.5,.5);
			ms-transform: scale(.5,.5);
			opacity: 0;
			o-transform: scale(.5,.5);
			transform: scale(.5,.5);
			webkit-transform: scale(.5,.5);
		}
		100%
		{
			bottom: auto;
			moz-transform: scale(1,1);
			ms-transform: scale(1,1);
			opacity: 1;
			o-transform: scale(1,1);
			transform: scale(1,1);
			webkit-transform: scale(1,1);
		}
	}
	
	body,h1,h2,h3,h4,h5,h6
	{
		font-family: 'Lato',sans-serif;
		font-weight: 300;
		webkit-font-smoothing: subpixel-antialiased;
	}
	body
	{
		font-size: 16px;
		line-height: 28px;
		overflow-x: hidden;
	}
	p
	{
		margin-bottom: 28px;
	}
	a,a:hover,a:active,a:focus
	{
		outline: 0;
	}
	a:link,a:visited
	{
		text-decoration: none;
	}
	input,button,textarea,.btn
	{
		font-weight: 300;
	}
	body>.container
	{
		max-width: none;
		visibility: visible;
	}
	nav#main-nav
	{
		background-color: transparent;
		border-radius: 0;
		border-width: 0;
		box-shadow: none;
		font-weight: 300;
		margin-bottom: 0;
		moz-transition: background-color .3s ease .2s,box-shadow .3s ease .2s;
		ms-transition: background-color .3s ease .2s,box-shadow .3s ease .2s;
		o-transition: background-color .3s ease .2s,box-shadow .3s ease .2s;
		transition: background-color .3s ease .2s,box-shadow .3s ease .2s;
		webkit-transition: background-color .3s ease .2s,box-shadow .3s ease .2s;
	}
	nav#main-nav.darken
	{
		background-color: #000000;
		box-shadow: 0 0px 8px rgba(0,0,0,0.4);
	}
	nav#main-nav .navbar-header,nav#main-nav .navbar-collapse
	{
		padding-top: 7px;
	}
	nav#main-nav .navbar-b
	{
		font-size: 20px;
		font-weight: 700;
	}
	nav#main-nav .navbar-b:link,nav#main-nav .navbar-b:visited
	{
		color: #fff;
	}
	nav#main-nav .navbar-b:hover
	{
		color: #990000;
	}
	nav#main-nav .navbar-nav
	{
		font-size: 12px;
		font-weight: 300;
		letter-spacing: 1px;
		text-transform: uppercase;
	}
	nav#main-nav .navbar-nav>li>a
	{
		color: #fff;
	}
	nav#main-nav .navbar-nav>li>a:hover
	{
		color: #fff;
		text-shadow: 0 0 15px #fff,0 0 30px #fff,0 0 30px #fff;
	}
	
	section
	{
		background-color: #fff;
		color: #000;
		padding: 0 0 28px;
		position: relative;
		text-align: center;
		z-index: 1;
	}
	section a:link,section a:visited
	{
		color: #990000;
	}
	section h1,section h3,section h4
	{
		font-weight: 100;
		letter-spacing: 1px;
		text-transform: uppercase;
	}
	section h1
	{
		font-size: 28px;
		margin: 28px 0;
		padding-bottom: 28px;
		position: relative;
	}
	section h1:after
	{
		background-color: #990000;
		bottom: 0px;
		content: '';
		display: block;
		height: 1px;
		left: 50%;
		margin-left: -50%;
		position: absolute;
		width: 100%;
	}
	
	section h3
	{
		font-size: 22px;
	}
	section h3,section h4
	{
		margin: 14px 0;
		padding: 0;
	}
	section .icon
	{
		background-color: #fff;
		border: 1px solid #990000;
		border-radius: 100%;
		box-shadow: 0 0 0 9px #fff;
		box-sizing: content-box;
		color: #990000;
		font-size: 40px;
		height: 84px;
		left: -43px;
		line-height: 84px;
		margin-left: 50%;
		margin-top: -43px;
		moz-box-sizing: content-box;
		opacity: 1;
		overflow: visible;
		position: relative;
		text-align: center;
		webkit-box-sizing: content-box;
		width: 84px;
	}
	section .icon.service-icon
	{
		border-color: transparent;
		border-width: 0;
		box-shadow: none;
		font-size: 112px;
		height: 112px;
		left: 0;
		line-height: 112px;
		margin-left: 0;
		margin-top: 0;
		width: 100%;
	}
	section .icon.service-icon img
	{
		height: 112px;
		margin: 0;
		width: 112px;
	}
	section .icon img
	{
		height: 50px;
		margin: 17px;
		vertical-align: top;
		width: 50px;
	}
	section .anim-zoom
	{
		animation: anim-zoom 1s cubic-bezier(0.175,0.885,0.320,1.275) forwards;
		animation-play-state: paused;
		moz-animation: anim-zoom 1s cubic-bezier(0.175,0.885,0.320,1.275) forwards;
		moz-animation-play-state: paused;
		ms-animation: anim-zoom 1s cubic-bezier(0.175,0.885,0.320,1.275) forwards;
		o-animation: anim-zoom 1s cubic-bezier(0.175,0.885,0.320,1.275) forwards;
		o-animation-play-state: paused;
		webkit-animation: anim-zoom 1s cubic-bezier(0.175,0.885,0.320,1.275) forwards;
		webkit-animation-play-state: paused;
		z-index: 1;
	}
	section .anim-zoom.running
	{
		animation-play-state: running;
		moz-animation-play-state: running;
		o-animation-play-state: running;
		webkit-animation-play-state: running;
	}
	section .row
	{
		margin: 28px 0;
	}
	
	section .button
	{
		background-color: #990000;
		border-radius: 5px;
		box-shadow: 0 5px 0 #ec5757;
		display: inline-block;
		font-size: 12px;
		letter-spacing: 1px;
		margin: 0 7px 28px;
		padding: 5px 15px;
		position: relative;
		text-transform: uppercase;
	}
	section .button:link,section .button:visited
	{
		color: #fff;
	}
	section .button:hover
	{
		background-color: #ff8686;
		text-decoration: none;
	}
	section .button:before
	{
		bottom: 0;
		content: '';
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
	}
	section .button:active
	{
		box-shadow: none;
		top: 5px;
	}
	section .button:active:before
	{
		top: -5px;
	}
	section .banner .banner-inner .item img
	{
		height: auto;
		width: 100%;
	}
	section.color
	{
		background-color: #990000;
		color: #fff;
	}
	section.color a:link,section.color a:visited
	{
		color: #000;
	}
	section.color .icon
	{
		background-color: #990000;
		border-color: #fff;
		box-shadow: 0 0 0 9px #990000;
		color: #fff;
	}
	section.color .icon.service-icon
	{
		background-color: transparent;
		box-shadow: none;
		color: #fff;
	}
	section.color h1:after
	{
		background-color: rgba(255,255,255,0.7);
	}
	section.color .button
	{
		background-color: #f7f7f7;
		box-shadow: 0 5px 0 #cccccc;
	}
	section.color .button:link,section.color .button:visited
	{
		color: #000;
	}
	section.color .button:active
	{
		box-shadow: none;
	}
	section#slider
	{
		background-color: #990000;
		padding-bottom: 0;
		padding-top: 0;
		z-index: 0;
	}
	section#slider .item
	{
		left: 0!important;
		moz-transition: opacity .6s ease;
		ms-transition: opacity .6s ease;
		o-transition: opacity .6s ease;
		overflow: hidden;
		transition: opacity .6s ease;
		webkit-transition: opacity .6s ease;
	}
	section#slider .item:after
	{
		background-color: rgba(0,0,0,0.5);
		background-image: url("/projects/wanchai-modx-new/assets/css/../images/pattern-diagonal.png");
		content: '';
		display: block;
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}
	section#slider .item img
	{
		height: auto;
		left: 0;
		max-width: none;
		position: fixed;
		top: 0;
		webkit-backface-visibility: hidden;
		webkit-transform: translateZ(0);
		width: 100%;
	}
	section#slider .item .banner-caption
	{
		bottom: 50%;
		margin-bottom: -80px;
		text-shadow: none;
	}
	section#slider .item .banner-caption h1
	{
		color: #fff;
		font-size: 40px;
		font-weight: 100;
		margin-bottom: 10px;
		padding: 5px 0;
		text-transform: none;
	}
	section#slider .item .banner-caption h1:after
	{
		display: none;
	}
	section#slider .item .banner-caption p
	{
		color: #fff;
		font-weight: 100;
		padding: 10px 15px 35px;
	}
	section#slider .item .banner-caption p:last-child
	{
		margin-bottom: 0;
	}
	section#services .service h3
	{
		font-size: 18px;
		font-weight: 100;
		letter-spacing: 1px;
		text-transform: uppercase;
	}
	section#services .service p
	{
		font-size: 14px;
	}
	
	section#team .member
	{
		padding: 0 15px;
	}
	section#team .member:after
	{
		clear: both;
		content: '';
		display: block;
	}
	section#team .member .desc
	{
		box-sizing: border-box;
		moz-box-sizing: border-box;
		webkit-box-sizing: border-box;
	}
	
	section#team .member .desc
	{
		font-size: 14px;
		margin-bottom: 0;
		padding-top: 15px;
		position: relative;
	}
	section#team .member .desc .name
	{
		color: #000;
		font-size: 20px;
		line-height: 20px;
		margin: 0;
		padding-bottom: 5px;
	}
	section#team .member .desc .title
	{
		font-style: italic;
		margin-bottom: 14px;
	}
	
	section#portfolio
	{
		padding-bottom: 56px;
	}
	
	section#portfolio ul.categories
	{
		font-size: 12px;
		letter-spacing: 1px;
		text-transform: uppercase;
	}
	section#portfolio ul.categories li.current a
	{
		background-color: #990000;
		color: #fff;
	}
	section#portfolio ul.categories li a
	{
		color: #000;
		display: block;
		moz-transition: background-color .3s ease,color .3s ease;
		ms-transition: background-color .3s ease,color .3s ease;
		o-transition: background-color .3s ease,color .3s ease;
		padding: 5px 15px;
		transition: background-color .3s ease,color .3s ease;
		webkit-transition: background-color .3s ease,color .3s ease;
	}
	section#portfolio ul.categories li a:hover
	{
		background-color: #990000;
		color: #fff;
		text-decoration: none;
	}
	section#portfolio ul.thumbnails
	{
		list-style: none;
		margin: 0;
		moz-transition: height .3s ease;
		ms-transition: height .3s ease;
		o-transition: height .3s ease;
		padding: 0;
		position: relative;
		transition: height .3s ease;
		webkit-transition: height .3s ease;
		z-index: 2;
	}
	section#portfolio ul.thumbnails>li.thumbnail
	{
		background-color: transparent;
		border-radius: 0;
		border-width: 0;
		box-sizing: border-box;
		cursor: pointer;
		float: left;
		height: 160px;
		margin: 0;
		moz-box-sizing: border-box;
		moz-transition: top .3s ease,left .3s ease,opacity .3s ease;
		ms-transition: top .3s ease,left .3s ease,opacity .3s ease;
		o-transition: top .3s ease,left .3s ease,opacity .3s ease;
		overflow: hidden;
		padding: 0;
		position: relative;
		transition: top .3s ease,left .3s ease,opacity .3s ease;
		webkit-box-sizing: border-box;
		webkit-transition: top .3s ease,left .3s ease,opacity .3s ease;
		width: 25%;
	}
	section#portfolio ul.thumbnails>li.thumbnail:hover .image
	{
		moz-transform: scale(1.2);
		ms-transform: scale(1.2);
		o-transform: scale(1.2);
		transform: scale(1.2);
		webkit-transform: scale(1.2);
	}
	section#portfolio ul.thumbnails>li.thumbnail .image
	{
		background-position: center center;
		background-size: cover;
		height: 100%;
		moz-transition: all .6s ease;
		ms-transition: all .6s ease;
		o-transition: all .6s ease;
		position: relative;
		transition: all .6s ease;
		webkit-transition: all .6s ease;
		width: 100%;
	}
	section#portfolio ul.thumbnails>li.thumbnail .title
	{
		display: none;
	}
	
	section#blog .blog-post
	{
		padding: 0 28px;
	}
	section#blog .blog-post h4
	{
		line-height: 28px;
		margin-top: 0;
		min-height: 56px;
	}
	section#blog .blog-post .date
	{
		font-size: 12px;
		letter-spacing: 1px;
		margin-bottom: 14px;
		text-transform: uppercase;
	}
	section#blog .blog-post .excerpt
	{
		font-size: 14px;
		margin-bottom: 21px;
	}
	
	section#newsletter .large
	{
		font-size: 20px;
	}
	section#newsletter .small
	{
		font-size: 12px;
	}
	section#newsletter form
	{
		margin-bottom: 20px;
	}
	section#newsletter form button
	{
		margin-left: 5px;
		min-width: 90px;
		vertical-align: top;
		width: 15%;
	}
	section#contact
	{
		padding-top: 0;
	}
	
	section#contact ul.contact-info
	{
		list-style: none;
		padding: 0;
	}
	section#contact ul.contact-info li
	{
		line-height: 32px;
		margin: 0;
		padding: 0;
	}
	
	section#contact ul.contact-info li a:link,section#contact ul.contact-info li a:visited
	{
		color: #000;
	}
	section#contact ul.contact-info li a:hover,section#contact ul.contact-info li a:active
	{
		color: #990000;
	}
	section#contact .form-group
	{
		margin-left: 0;
		margin-right: 0;
	}
	
	section#contact button
	{
		font-size: 16px!important;
		width: 20%;
	}
	section#newsletter input,section#newsletter button,section#contact input,section#contact button,section#contact textarea
	{
		background-color: #d9d9d9;
		border-radius: 0;
		border-width: 0;
		box-shadow: none;
		color: #000;
		font-size: 16px;
		line-height: 18px;
		outline: none;
		padding: 0 10px;
	}
	
	section#newsletter input:not([type="checkbox"]),section#newsletter button,section#contact input:not([type="checkbox"]),section#contact button
	{
		height: 42px;
	}
	section#newsletter button,section#contact button
	{
		moz-transition: all .3s ease;
		ms-transition: all .3s ease;
		o-transition: all .3s ease;
		transition: all .3s ease;
		webkit-transition: all .3s ease;
	}
	section#newsletter button:hover,section#contact button:hover
	{
		background-color: #990000;
		color: #fff;
	}
	
	section#contact textarea
	{
		height: 150px;
		padding: 12px 10px;
	}
	section#newsletter input,section#contact input,section#contact textarea
	{
		moz-transition: all .3s ease;
		ms-transition: all .3s ease;
		o-transition: all .3s ease;
		transition: all .3s ease;
		webkit-transition: all .3s ease;
	}
	section#newsletter input:hover,section#contact input:hover,section#contact textarea:hover
	{
		background-color: #ededed;
		box-shadow: inset 0 0 0 1px #d9d9d9;
	}
	footer
	{
		background-color: #fff;
		color: #000;
		padding: 28px 0;
		position: relative;
	}
	footer a:link,footer a:visited
	{
	color: #fff;
	}
	footer a:hover,footer a:active
	{
	color: #000;
	}
	footer.color
	{
	background-color: #990000;
	color: #fff;
	}
	
	footer p
	{
	line-height: 32px;
	margin: 0;
	}
	.blog-fr-container
	{
	background-color: rgba(0,0,0,0.7);
	height: 100%;
	left: 0;
	moz-transition: opacity .6s ease;
	ms-transition: opacity .6s ease;
	opacity: 0;
	o-transition: opacity .6s ease;
	position: fixed;
	top: 0;
	transition: opacity .6s ease;
	webkit-transition: opacity .6s ease;
	width: 100%;
	z-index: -1;
	}
	
	.blog-fr-container:after
	{
	background-color: #990000;
	border-radius: 5px 5px 0 0;
	content: '';
	display: block;
	height: 10px;
	left: 5%;
	margin-top: -5px;
	position: absolute;
	top: 10%;
	width: 90%;
	}
	.blog-fr-container .close-btn
	{
	border-radius: 40px;
	color: #fff;
	cursor: pointer;
	font-size: 40px;
	height: 40px;
	line-height: 40px;
	margin-right: -20px;
	margin-top: -20px;
	position: absolute;
	right: 5%;
	text-align: center;
	text-shadow: 0 0 5px #000;
	top: 10%;
	width: 40px;
	z-index: 1;
	}
	.blog-fr-container .close-btn:before
	{
	background-color: #000;
	content: '';
	display: block;
	height: 20px;
	left: 50%;
	margin-left: -10px;
	margin-top: -10px;
	position: absolute;
	top: 50%;
	width: 20px;
	z-index: -1;
	}
	.blog-fr-container .close-btn:hover
	{
	color: #e6e6e6;
	}
	.blog-fr-container .icon
	{
	background-color: #990000;
	border: 1px solid #fff;
	border-radius: 100%;
	box-shadow: 0 0 0 9px #990000;
	box-sizing: content-box;
	color: #fff;
	font-size: 40px;
	height: 84px;
	left: 50%;
	line-height: 84px;
	margin-left: -43px;
	margin-top: -43px;
	moz-box-sizing: content-box;
	position: absolute;
	text-align: center;
	top: 10%;
	webkit-box-sizing: content-box;
	width: 84px;
	z-index: 1;
	}
	.blog-fr-container iframe
	{
	border-radius: 0 0 5px 5px;
	border-style: none;
	height: 85%;
	left: 5%;
	margin-top: 5px;
	position: absolute;
	top: 10%;
	width: 90%;
	}
	@media (min-width:992px)
	{
	nav#main-nav .navbar-header
	{
	margin-left: 8.333333333333332%;
	}
	nav#main-nav .navbar-nav
	{
	margin-right: 8.333333333333332%;
	}
	}
	@media (min-width:768px)
	{
	nav#main-nav .navbar-nav
	{
	float: right;
	}
	section#slider .item .banner-caption
	{
	margin-bottom: -140px;
	}
	section#slider .item .banner-caption h1
	{
	font-size: 100px;
	}
	section#slider .item .banner-caption p
	{
	font-size: 24px;
	line-height: 36px;
	}
	
	section#newsletter form .form-group
	{
	width: 75%;
	}
	
	section#contact .form-group
	{
	width: 100%;
	}
	}	